
/* GLOBAL */
.navContainer {
    background-color: #53CA98;
}
/* INDEX */
.headerIndex {
    height: 80vh;
}
.calendar {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
}
.cardServicio {
    transition: all 1s;
}
.cardServicio:hover {
    transform: scale(1.07);
}
.fc-left h2 {
    color: white;
    text-align: center;
}

.fc-today-button {
    background-color: #7ADDBB;
    border-radius: 20px;
}

.fc-header-toolbar {
    display: flex;
    justify-content: center;
}
.calendar {
    border-radius: 30px;
}

.fc-prev-button, .fc-next-button {
    border: none;
}

.modal-header {
    flex-direction: column;
}
.modal-footer {
    justify-content: center;
}

#descripcionServicio {
    height: 80vh;
}
/* TURNOS */
#turnos h1, #turnos h4 {
    text-align: center;
}
.mainHorario {
    height: 85vh;
    background-image: url("../assets/extraccion1.jpg");
    background-size: cover;
    
}

.formHorarios {
    max-width: 600px;
    margin: 0 auto;
    background-color: #7ADDBB;
    border-radius: 30px;
}

/* INFORMACION PERSONAL */

.formPersonal {
    max-width: 600px;
    margin: 0 auto;
    background-color: rgb(3, 203, 155);
    border-radius:30px ;
}
.headerPersonal {
    background-color: rgb(0, 0, 0);
    color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.btnPersonal {
    background-color: black;
}

.btnPersonal a {
    color: white;
    text-decoration: none;
}

.form-control:focus {
    border-color: rgba(3, 203, 155, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(3, 203, 155, 0.6);
    outline: 0 none;
    
}

.form-group div{
    margin: 0 auto;
    width: 100%;
}
.control-label {
    min-width: 200px;
}
.modal-title {
    text-align: center;
}

/* CONFIRMACION */
.containerConfirmacion {
    margin: 0 auto;
    display:flex;
    justify-content: center;
}
.btnConfirm {
    display: block;
    margin: 0 auto;
    width: 70%;
}
.card-text, .card-title {
    text-align: center;
}

/* FOOTER */
footer {
    background-color: black;
}
/* MEDIA QUERIES */
@media (max-width:768px){
    .containerPersonal {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .headerIndex {
        height: 40vh;
    }
}