.button1 {
    background-color: $colorPrincipal;
    color: white;
    text-decoration: none;
    &:hover {
        background-color: $colorTerciario;
        color: white;
    }
}

.btnPersonal {
    background-color: $colorPrincipal;
    &:hover {
        background-color: $colorTerciario;
    }
}

.btnPersonal a {
    color: white;
    text-decoration: none;
}
