.servicioHero {
    background-color: $colorSecundario;
    width: 100vw;
    height: 80vh;
    margin-bottom: 50px;
}
.header_SelectDoctor {
    background-color: $colorPrincipal;
    h4 {
        background-color: none;
    }
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}