@media (max-width: 767px) {
    .containerPersonal {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .headerIndex {
        height: 100vh;
    }
    // .mainContainer {
    //     margin-top: 50px;
    // }
}